.option {
    font-weight: 300;
    font-size: 15px;
    color: #d4d3d3 !important;
    margin-top: 1px;
  }
  
  .option a {
    color: inherit;
    text-decoration: none;
  }
  .fa-options{
      margin-left:10px;
  }
  .option span {
    margin: 15px;
  }
  .sub-option {
    border-top: 1px solid #979595;
  }
  .navItem {
    margin-top: 9px;
    background: #042354;
    min-height: 840px;
    max-height: 6000px;
    border-top: 1px solid #faf607;
  }
  .fa-bars {
    margin-left: -200px;
    color: #042354;
    padding: 10px;
    cursor: pointer;
  }
  .user-panel{
      position: relative;
  width: 100%;
  /* padding: 10px; */
  }
  .pull-left {
      float: left!important;
      margin-top: 10px;
  }
  .img-rounded {
      position: relative;
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
  
  }
.containers{
    width: 92%;
    padding-left: 35px;
    padding-right: 5px;
    padding-top: 20px;
    margin-top: 20px;
    margin-right:15px;
    margin-left: auto;
    background-color: #fff;
}
.breadcrumb{
    margin-left:85px; 
    background: none;  
}
.round-inp{
    border-radius: 15px 15px 15px 15px;
    height: 30px;
}


 .user-panel{
    position: relative;
width: 100%;
padding: 10px;
}
.pull-left {
    float: left!important;
}  .img-rounded {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

} 
.headerDash {
    background: #fff;
    border-bottom: 1px solid #fff;
    /* height: 20px; */
}

/* .headerOption {
    display: flex;
} */

.logo {
    flex-grow: 1;
    padding-top: 8px;
    margin-left: 100px;
}

.logo  img {
    width:35px;
}
.margin{
    padding-top: 15px;
}
 .options{
    min-width:15px;
    min-height: 75px;
    max-height: 705px;
    background: #fbfbfb;
} 
 .options span{
    font-size: 30px;
    border-left: 1px solid #e6e0e0;
    font-weight: 300;
    padding: 0px 7px 7px 0px;
    margin-left: 10px;
} 
.stud-photo img {
    padding-top: 8px;
    width:25px;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    left: 80%;
}
.search{
 
  position: relative; 
    margin: 5px auto ; 
    text-align: center;
  }
  .search input { 
    text-indent: 30px;
    width: 300px;
    padding: 5px;
    background:#fafafa;
    border-radius: 50px 50px 50px 50px; 
  }
  .search .fa-search { 
    position: absolute;
    top: 10px;
    left: 75%;
    font-size: 15px;
  }
  .facebook{
      background-image: url("./../../images/facebook.jpeg");
  }

  .twitter{
    background-image: url("./../../images/twitter.jpeg");
}
.google{
    background-image: url("./../../images/google.jpeg");
}
.linkedin{
    background-image: url("./../../images/linkedin.jpeg");
}
/* .table{
    background-color: #faf607;
    height:150px; 
  width:50px;
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
} */